<div class="ui fluid container no-margin slick-initialized slick-slider slick-dotted">
    <div class='container'></div>
    <div class='banners'>
        <div>
            <a href="#" class="slick-slide slick-cloned" data-slick-index="11" aria-hidden="true" style="width: 1349px;">
                <img src="/public/images/banner1.jpg" class="ui fluid image" alt="Banner 1" title="Banner 1">
            </a>
        </div>
        <div>
            <a href="#" class="slick-slide slick-cloned" data-slick-index="11" aria-hidden="true" style="width: 1349px;">
                <img src="/public/images/banner1.jpg" class="ui fluid image" alt="Banner 1" title="Banner 1">
            </a>
        </div>

    </div>
</div>
</div>

<div class="ui container fluid infoBar">
    <div class="ui container">
        <div class="ui middle aligned centered stackable grid  computer only">
            <div class="row doubling four column ">


                <div class="column">
                    <div class="icon_place">
                        <i class="whatsapp icon floated left"></i>
                    </div>
                    <div class="text_place">
                        <h5 class="uppercase text">whatsapp</h5>
                        <p class="uppercase text">(12)97405-3001 | (12)98843-5351 (12)99246-6546</p>
                    </div>
                </div>

                <div class="column">
                    <div class="icon_place">
                        <i class="credit card alternative icon floated left"></i>
                    </div>
                    <div class="text_place">
                        <h5 class="uppercase text">Parcele suas compras</h5>
                        <p class="uppercase text">Parcele em até 12x sem juros suas compras no site.</p>
                    </div>
                </div>

                <div class="column">
                    <div class="icon_place">
                        <i class="instagram icon floated left"></i>
                    </div>
                    <div class="text_place">
                        <h5 class="uppercase text">acesso nosso instagram</h5>
                        <p class="uppercase text">E fique por dentro de todas as novidades</p>
                    </div>
                </div>

                <div class="column">
                    <div class="icon_place">
                        <i class="talk outline icon floated left"></i>
                    </div>
                    <div class="text_place">
                        <h5 class="uppercase text">atendimento</h5>
                        <p class="uppercase text">De segunda à sexta, das 9h às 18h de sábado, das 9h às 13h.</p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>