<div class="ui horizontal divider container">
    Newsletter
</div>
<div class="ui six column centered grid">
    <div class="column">
        Inscreva-se para receber ofertas e descontos exclusivos de nossa loja
    </div>
    <div class="column">

        <div class="ui form">
            <div class="inline field">
                <div class="ui left icon action input">
                    <i class="mail teal icon"></i>
                    <input type="text" placeholder="seu@email.com.br" id="email_news">
                    <button class="ui button basic teal" id="btn_news">
                        Cadastrar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui container fluid inverted vertical segment footer">
    <div class="ui container">
        <div class="ui four column stackable inverted equal height grid">
            <div class="ten wide table six wide computer column">
                <div class="ui grid stackable">
                    <div class="row two column no padding">
                        <div class="column">
                            <h4 class="ui inverted header">INSTITUCIONAL</h4>
                            <div class="ui inverted link list">
                                <a href="#" class="item">Quem Somos</a>
                                <a href="#" class="item">Política de Privacidade</a>

                            </div>
                        </div>
                        <div class="column">
                            <h4 class="ui inverted header">DÚVIDAS</h4>
                            <div class="ui inverted link list">
                                <a href="#" class="item">Este site é seguro?</a>
                                <a href="#" class="item">Pagamento</a>
                                <a href="#" class="item">Trocas e Devoluções</a>
                                <a href="#" class="item">Página Treinamento</a>
                                <a href="#s" class="item">Dúvidas Frequentes</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="six wide tablet four wide computer column">

                <h4 class="ui inverted header text uppercase">Central de Relacionamento</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Preparada para esclarecer suas dúvidas e problemas.</a>
                </div>
                <h5>SAC: (11) 1234-5678</h5>
            </div>


            <div class="six wide computer column left aligned">
                <h4 class="ui inverted header text  uppercase">Siga nos</h4>
                <div class="ui horizontal relaxed list social">

                    <a class="ui facebook icon button" href="https://facebook.com/" target="_blank">
                        <i class="facebook icon"></i>
                    </a>
                    <a class="ui twitter icon button" href="https://twitter.com/" target="_blank">
                        <i class="twitter icon"></i>
                    </a>
                    <a class="ui instagram icon button" href="https://instagram.com/" target="_blank">
                        <i class="instagram icon"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="ui grid container">
    <div class="three column row">
        <div class="column">
            <p>Copyright - LEMBRANÇA CHIQUE - Todos os direitos reservados</p>
        </div>
        <div class="column">
            <img src="/public/images/pagamentos.jpg">
        </div>
        <div class="column">
            <img src="/public/images/certificados.jpg">
        </div>
    </div>
</div>