<div class="ui container">
    <div class="ui two column grid stackable middle aligned">
        <div class="row">
            <div class="column">
                <h1 class="pink">Catergoria 1</h1>
                <div class="ui breadcrumb text small">
                    <a class="section" href="/">Home</a>
                    <i class="right angle icon divider"></i>
                    <div class="active section">Categoria 1</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui container margin bottom large">
    <div class="ui divider"></div>
    <div class="ui grid">
        <div class="row one column">
        </div>
        <div class="row divided horizontal stackable">

            <div class="four wide column filterColumn">
                <div class="row one column">
                    <div class="column" id="filter">
                        <div class="ui labels">

                        </div>
                        <div class="four wide column filtros" id="filtros">
                            <div class="ui grid one column">
                                <div class="row">
                                    <div class="row filterbar">
                                        <div class="eight wide column">
                                            <h3>Filtros</h3>
                                        </div>
                                        <div class="eight wide column">
                                            <a class="ui button icon closeFiltros">
                                                <i class="remove icon"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="ui accordion" id="filtroList">
                                            

                                            <div class="active title" id="" data-title="">CORES
                                                <i class="dropdown icon"></i>
                                            </div>
                                            <div class="active content">
                                                <div class="ui form">
                                                    <div class="grouped fields">
                                                        <div class="field">

                                                            <button type="button" id="263" class="ui basic button checkbox variacao cor checkColor" style="background-color: rgb(255, 235, 59) !important;"
                                                                data-tooltip="Amarelo" data-reference="Cor 3">
                                                                &ensp;
                                                            </button>
                                                            <div id="check_263" class="ui checkbox hideme">
                                                                <input type="checkbox" name="Amarelo" id="variation_263" tabindex="0" class="hidden">
                                                                <label></label>
                                                            </div>
                                                            <button type="button" id="264" class="ui basic button checkbox variacao cor checkColor" style="background-color: rgb(33, 150, 243) !important;"
                                                                data-tooltip="Azul" data-reference="Cor 3">
                                                                &ensp;
                                                            </button>
                                                            <div id="check_264" class="ui checkbox hideme">
                                                                <input type="checkbox" name="Azul" id="variation_264" tabindex="0" class="hidden">
                                                                <label></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="active title" id="reference_8" data-title="Tamanho">Tamanho<i class="dropdown icon"></i></div>
                                            <div class="active content">
                                                    <div class="ui form">
                                                        <div class="grouped fields">
                                                            <div class="field">
                                
                                                                        <button type="button" id="51" class="ui primary basic button checkbox tiny checkText" data-reference="Tamanho">PP</button>
                                                                        <div id="check_51" class="ui checkbox hideme">
                                                                            <input type="checkbox" name="PP" id="variation_51" tabindex="0" class="hidden">
                                                                            <label></label>
                                                                        </div>
                                                                        <button type="button" id="52" class="ui primary basic button checkbox tiny checkText" data-reference="Tamanho">P</button>
                                                                        <div id="check_52" class="ui checkbox hideme">
                                                                            <input type="checkbox" name="P" id="variation_52" tabindex="0" class="hidden">
                                                                            <label></label>
                                                                        </div>
                                                                        <button type="button" id="53" class="ui primary basic button checkbox tiny checkText" data-reference="Tamanho">M</button>
                                                                        <div id="check_53" class="ui checkbox hideme">
                                                                            <input type="checkbox" name="M" id="variation_53" tabindex="0" class="hidden">
                                                                            <label></label>
                                                                        </div>
                                                                        <button type="button" id="54" class="ui primary basic button checkbox tiny checkText" data-reference="Tamanho">G</button>
                                                                        <div id="check_54" class="ui checkbox hideme">
                                                                            <input type="checkbox" name="G" id="variation_54" tabindex="0" class="hidden">
                                                                            <label></label>
                                                                        </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
                                            <div class="title" id="reference_80" data-title="ML">ML
                                                <i class="dropdown icon"></i>
                                            </div>
                                            <div class="content">
                                                <div class="ui form transition hidden">
                                                    <div class="grouped fields">
                                                        <div class="field">

                                                            <button type="button" id="265" class="ui primary basic button checkbox tiny checkText" data-reference="ML">30 ML</button>
                                                            <div id="check_265" class="ui checkbox hideme">
                                                                <input type="checkbox" name="30 ML" id="variation_265" tabindex="0" class="hidden">
                                                                <label></label>
                                                            </div>
                                                            <button type="button" id="266" class="ui primary basic button checkbox tiny checkText" data-reference="ML">39</button>
                                                            <div id="check_266" class="ui checkbox hideme">
                                                                <input type="checkbox" name="39" id="variation_266" tabindex="0" class="hidden">
                                                                <label></label>
                                                            </div>
                                                            <button type="button" id="267" class="ui primary basic button checkbox tiny checkText" data-reference="ML">40</button>
                                                            <div id="check_267" class="ui checkbox hideme">
                                                                <input type="checkbox" name="40" id="variation_267" tabindex="0" class="hidden">
                                                                <label></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>




                                            



                                            <div class="active title">Preço
                                                <i class="dropdown icon"></i>
                                            </div>
                                            <div class="active content">
                                                <div class="ui form">
                                                    <div class="inline three fields nowrap">
                                                        <div class="seven wide field">
                                                            <div class="ui input left icon fluid">
                                                                <i class="dollar icon"></i>
                                                                <input type="text" name="initialPrice" id="initialPrice" placeholder="Min">
                                                            </div>
                                                        </div>

                                                        <div class="seven wide field">
                                                            <div class="ui input left icon fluid">
                                                                <i class="dollar icon"></i>
                                                                <input type="text" name="finalPrice" id="finalPrice" placeholder="Max">
                                                            </div>
                                                        </div>
                                                        <div class="two wide field">
                                                            <button class="ui teal icon button pricefilter">
                                                                <i class="check icon"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <script>
                                                $("#initialPrice, #finalPrice").inputmask('decimal', {
                                                    radixPoint: ",",
                                                    groupSeparator: ".",
                                                    autoGroup: true,
                                                    digits: 2,
                                                    digitsOptional: false,
                                                    placeholder: '0',
                                                    rightAlign: false,
                                                    onBeforeMask: function (value, opts) {
                                                        return value;
                                                    }
                                                });
                                            </script>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="column">
                                    <div class="ui segment orange">
                                        <div class="ui list">
                                            <a class="item" href="#">LANÇAMENTOS</a>
                                            <a class="item" href="#">OUTLET</a>
                                            <a class="item" href="#">NOVIDADES</a>
                                            <a class="item" href="#">SALE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                   

                    <div class="ui divider hidden"></div>
                    

                </div>
            </div>



            <div class="twelve wide column">
                <div class="ui grid">
                    <div class="row one column">
                        <div class="column right aligned right floated">
                            <button class="ui mobile only left floated icon blue button filterbutton right labeled" data-tooltip="Filtros" data-inverted="">
                                <i class="filter icon"></i>
                                Filtros
                            </button>
                            <div class="ui dropdown button dropdownorder pink" tabindex="0">
                                <span class="text">Ordenar por</span>
                                <i class="dropdown icon"></i>
                                <div class="menu" tabindex="-1">
                                    <div class="item" data-value="lancamentos">
                                        <i class="asterisk icon"></i>
                                        Lançamentos
                                    </div>
                                    <div class="item" data-value="mais_vendidos">
                                        <i class="diamond icon"></i>
                                        Mais Vendidos
                                    </div>
                                    <div class="item" data-value="nome_a_z">
                                        <i class="sort alphabet ascending icon"></i>
                                        Nome [A-Z]
                                    </div>
                                    <div class="item" data-value="nome_z_a">
                                        <i class="sort alphabet descending icon"></i>
                                        Nome [Z-A]
                                    </div>
                                    <div class="item" data-value="menor_preco">
                                        <i class="sort numeric ascending icon"></i>
                                        Preço [Menor-Maior]
                                    </div>
                                    <div class="item" data-value="maior_preco">
                                        <i class="sort numeric descending icon"></i>
                                        Preço [Maior-Menor]
                                    </div>
                                </div>
                            </div>
                            <button id="viewgrid" class="ui icon button viewgrid mobile hide" data-tooltip="Grid" data-inverted="">
                                <i class="grid layout icon pink"></i>
                            </button>
                            <button id="viewlist" class="ui icon button viewlist mobile hide" data-tooltip="Lista" data-inverted="">
                                <i class="list layout icon pink"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div id="list">
                  
                    <div class="categoryProducts">
                        <div class="type-grid">
                            <div class="ui three doubling cards centered">
                                <div  class="ui card produto" data-exhausted="False">
                                    <div class="content">
                                        <a class="ui image fluid" itemprop="url" href="/produto/produto-teste-com-variacao-12/1062-20857">
                                            <img id="mainImageCard_20857" src="//static-loja.plataformaneo.com.br/produto/20171013105843_1791998209_H.jpg" class="visible content"
                                                onerror="imgError(this)">
                                        </a>
                                        <div class="ui horizontal divider avaliacao">
                                            <div class="ui tiny star rating disabled" data-rating="0">
                                                <i class="icon"></i>
                                                <i class="icon"></i>
                                                <i class="icon"></i>
                                                <i class="icon"></i>
                                                <i class="icon"></i>
                                            </div>
                                        </div>
                                        <div class="info">

                                            <div class="sku-options mobile-hide ">

                                                <h5 id="produto-esgotado_20857" class="text center hideme">Produto Esgotado</h5>

                                                <div id="referencefromproduct_20857" class="ui fluid selection dropdown dropdownreference" data-total-referencia="2" data-idproduct="20857"
                                                    tabindex="0">
                                                    <input type="hidden" name="reference_20857" data-id-reference="79" id="Cor 3">
                                                    <i class="dropdown icon"></i>
                                                    <span class="text">Cor 3</span>
                                                    <div class="menu" tabindex="-1">
                                                        <div class="header">
                                                            Cor 3
                                                        </div>
                                                        <div class="scrolling menu">
                                                            <div class="item" data-value="263">
                                                                <div class="ui empty circular label" style="background-color: rgb(255, 235, 59) !important; border-color: #1B1C1D !important;"></div>
                                                                Amarelo
                                                            </div>
                                                            <div class="item" data-value="264">
                                                                <div class="ui empty circular label" style="background-color: rgb(33, 150, 243) !important; border-color: #1B1C1D !important;"></div>
                                                                Azul
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="ui small divider hidden"></div>
                                                <div id="referencefromproduct_20857" class="ui fluid selection dropdown dropdownreference" data-total-referencia="2" data-idproduct="20857"
                                                    tabindex="0">
                                                    <input type="hidden" name="reference_20857" data-id-reference="80" id="ML">
                                                    <i class="dropdown icon"></i>
                                                    <span class="text">ML</span>
                                                    <div class="menu" tabindex="-1">
                                                        <div class="header">
                                                            ML
                                                        </div>
                                                        <div class="scrolling menu">
                                                            <div class="item" data-value="265">
                                                                30 ML
                                                            </div>
                                                            <div class="item" data-value="266">
                                                                39
                                                            </div>
                                                            <div class="item" data-value="267">
                                                                40
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="ui small divider hidden"></div>
                                                
                                                <a id="btn-comprar-card-20857" class="ui labeled icon button green fluid btn-comprar-card" data-idproduct="20857" data-name="Produto Teste - Com Variação 12">
                                                    <i id="btn-icon-card-20857" class="icon add to cart"></i>
                                                    Comprar
                                                </a>
                                            </div>
                                            <div class="dados">
                                                <div itemscope="" itemtype="http://schema.org/Product">
                                                    <link itemprop="url" href="/produto/produto-teste-com-variacao-12/1062-20857" rel="author">
                                                    <a itemprop="url" href="/produto/produto-teste-com-variacao-12/1062-20857">
                                                        <span itemprop="name">
                                                            <h1>Produto Teste - Com Variação 12</h1>
                                                        </span>
                                                    </a>
                                                    <span itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                                                        <span id="price_20857" class="preco">
                                                            <span class="precoBase"></span> R$ 5.009,00</span>
                                                        <span>
                                                            ou em
                                                            <span class="installmentMaxNumber">8</span>
                                                            x de
                                                            <span class="installmentMaxValue">R$ 626,13</span>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="botoes">

                                                <a class="ui basic button right floated primary right floated mobile-fluid" href="/detalhe">
                                                    <i class="icon search"></i>DETALHES
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="GenericPageFilter" id="GenericPageFilter" value="561">

        </div>

    </div>
</div>