<div class="ui horizontal divider container">
    Destaques
</div>

<div class="ui container ">
    <div class="ui grid">
        <div class="row one column">
            <div class="column">
                <div class="ui doubling four cards centered lancamentos">
                    <div id="1" class="ui card produto" data-exhausted="False">
                        <input type="hidden" id="1">
                        <div class="content">
                            <a class="ui slide masked reveal image fluid" itemprop="url" href="/detalhe">
                                <img  src="//static-loja.plataformaneo.com.br/produto/20171213094640_7902992098_H.jpg" class="visible content"
>
                                <img src="//static-loja.plataformaneo.com.br/produto/20171213094641_2340997660_A.jpg" class="hidden content">

                                <div class="ui bottom right attached label massive imagetag">
                                    <img src="//static-loja.plataformaneo.com.br/status/20171128093328_449608.png" alt="Outlet" class="ui image tiny">
                                </div>
                            </a>
                            <div class="ui horizontal divider avaliacao">
                                <div class="ui tiny star rating disabled" data-rating="0">
                                    <i class="icon"></i>
                                    <i class="icon"></i>
                                    <i class="icon"></i>
                                    <i class="icon"></i>
                                    <i class="icon"></i>
                                </div>
                            </div>
                            <div class="info">

                                <div class="sku-options mobile-hide ">

                                    <h5 id="produto-esgotado_28178" class="text center hideme">Produto Esgotado</h5>

                                    <div id="referencefromproduct_28178" class="ui fluid selection dropdown dropdownreference" data-total-referencia="2" data-idproduct="28178"
                                        tabindex="0">
                                        <input type="hidden" name="reference_28178" data-id-reference="7" id="Cor">
                                        <i class="dropdown icon"></i>
                                        <span class="text">Cor</span>
                                        <div class="menu" tabindex="-1">
                                            <div class="header">
                                                Cor
                                            </div>
                                            <div class="scrolling menu">
                                                <div class="item" data-value="45">
                                                    <div class="ui empty circular label" style="background-color: rgb(255, 0, 0) !important; border-color: #1B1C1D !important;"></div>
                                                    Vermelho
                                                </div>
                                                <div class="item" data-value="49">
                                                    <div class="ui empty circular label" style="background-color: rgb(0, 0, 0) !important; border-color: #1B1C1D !important;"></div>
                                                    Preto
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui small divider hidden"></div>
                                    <div id="referencefromproduct_28178" class="ui fluid selection dropdown dropdownreference" data-total-referencia="2" data-idproduct="28178"
                                        tabindex="0">
                                        <input type="hidden" name="reference_28178" data-id-reference="8" id="Tamanho">
                                        <i class="dropdown icon"></i>
                                        <span class="text">Tamanho</span>
                                        <div class="menu" tabindex="-1">
                                            <div class="header">
                                                Tamanho
                                            </div>
                                            <div class="scrolling menu">
                                                <div class="item" data-value="52">
                                                    P
                                                </div>
                                                <div class="item" data-value="53">
                                                    M
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui small divider hidden"></div>
                                    <a id="btn-comprar-card-1" class="ui labeled icon button teal fluid btn-comprar-card" data-idproduct="1" data-name="Produto 1">
                                        <i id="btn-icon-card-1" class="icon add to cart"></i>
                                        Comprar
                                    </a>
                                </div>
                                <div class="dados">
                                    <div itemscope="" itemtype="http://schema.org/Product">
                                        <link itemprop="url" href="/detalhe" rel="author">
                                        <a itemprop="url" href="/detalhe">
                                            <span itemprop="name">
                                                <h1>Teste Produto 1</h1>
                                            </span>
                                        </a>
                                        <span itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                                            <span id="basePrice_28178" class="precoBase">de
                                                <i>R$ 999,99</i> por </span>
                                            <span itemprop="preco" class="preco">R$ 1,99</span>
                                            <span>
                                                ou em
                                                <span class="installmentMaxNumber">8</span>
                                                x de
                                                <span class="installmentMaxValue">R$ 0,248</span>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <div class="botoes">
                                    <a class="ui basic button right floated primary right floated mobile-fluid" href="/detalhe">
                                        <i class="icon search"></i>DETALHES
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="1" class="ui card produto" data-exhausted="False">
                            <input type="hidden" id="1">
                            <div class="content">
                                <a class="ui slide masked reveal image fluid" itemprop="url" href="/detalhe">
                                    <img  src="//static-loja.plataformaneo.com.br/produto/20171213094640_7902992098_H.jpg" class="visible content"
    >
                                    <img src="//static-loja.plataformaneo.com.br/produto/20171213094641_2340997660_A.jpg" class="hidden content">
    
                                    <div class="ui bottom right attached label massive imagetag">
                                        <img src="//static-loja.plataformaneo.com.br/status/20171128093328_449608.png" alt="Outlet" class="ui image tiny">
                                    </div>
                                </a>
                                <div class="ui horizontal divider avaliacao">
                                    <div class="ui tiny star rating disabled" data-rating="0">
                                        <i class="icon"></i>
                                        <i class="icon"></i>
                                        <i class="icon"></i>
                                        <i class="icon"></i>
                                        <i class="icon"></i>
                                    </div>
                                </div>
                                <div class="info">
    
                                    <div class="sku-options mobile-hide ">
    
                                        <h5 id="produto-esgotado_28178" class="text center hideme">Produto Esgotado</h5>
    
                                        <div id="referencefromproduct_28178" class="ui fluid selection dropdown dropdownreference" data-total-referencia="2" data-idproduct="28178"
                                            tabindex="0">
                                            <input type="hidden" name="reference_28178" data-id-reference="7" id="Cor">
                                            <i class="dropdown icon"></i>
                                            <span class="text">Cor</span>
                                            <div class="menu" tabindex="-1">
                                                <div class="header">
                                                    Cor
                                                </div>
                                                <div class="scrolling menu">
                                                    <div class="item" data-value="45">
                                                        <div class="ui empty circular label" style="background-color: rgb(255, 0, 0) !important; border-color: #1B1C1D !important;"></div>
                                                        Vermelho
                                                    </div>
                                                    <div class="item" data-value="49">
                                                        <div class="ui empty circular label" style="background-color: rgb(0, 0, 0) !important; border-color: #1B1C1D !important;"></div>
                                                        Preto
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ui small divider hidden"></div>
                                        <div id="referencefromproduct_28178" class="ui fluid selection dropdown dropdownreference" data-total-referencia="2" data-idproduct="28178"
                                            tabindex="0">
                                            <input type="hidden" name="reference_28178" data-id-reference="8" id="Tamanho">
                                            <i class="dropdown icon"></i>
                                            <span class="text">Tamanho</span>
                                            <div class="menu" tabindex="-1">
                                                <div class="header">
                                                    Tamanho
                                                </div>
                                                <div class="scrolling menu">
                                                    <div class="item" data-value="52">
                                                        P
                                                    </div>
                                                    <div class="item" data-value="53">
                                                        M
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ui small divider hidden"></div>
                                        <a id="btn-comprar-card-1" class="ui labeled icon button teal fluid btn-comprar-card" data-idproduct="1" data-name="Produto 1">
                                            <i id="btn-icon-card-1" class="icon add to cart"></i>
                                            Comprar
                                        </a>
                                    </div>
                                    <div class="dados">
                                        <div itemscope="" itemtype="http://schema.org/Product">
                                            <link itemprop="url" href="/detalhe" rel="author">
                                            <a itemprop="url" href="/detalhe">
                                                <span itemprop="name">
                                                    <h1>Teste Produto 1</h1>
                                                </span>
                                            </a>
                                            <span itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                                                <span id="basePrice_28178" class="precoBase">de
                                                    <i>R$ 999,99</i> por </span>
                                                <span itemprop="preco" class="preco">R$ 1,99</span>
                                                <span>
                                                    ou em
                                                    <span class="installmentMaxNumber">8</span>
                                                    x de
                                                    <span class="installmentMaxValue">R$ 0,248</span>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="botoes">
                                        <a class="ui basic button right floated primary right floated mobile-fluid" href="/detalhe">
                                            <i class="icon search"></i>DETALHES
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="1" class="ui card produto" data-exhausted="False">
                                <input type="hidden" id="1">
                                <div class="content">
                                    <a class="ui slide masked reveal image fluid" itemprop="url" href="/detalhe">
                                        <img  src="//static-loja.plataformaneo.com.br/produto/20171213094640_7902992098_H.jpg" class="visible content"
        >
                                        <img src="//static-loja.plataformaneo.com.br/produto/20171213094641_2340997660_A.jpg" class="hidden content">
        
                                        <div class="ui bottom right attached label massive imagetag">
                                            <img src="//static-loja.plataformaneo.com.br/status/20171128093328_449608.png" alt="Outlet" class="ui image tiny">
                                        </div>
                                    </a>
                                    <div class="ui horizontal divider avaliacao">
                                        <div class="ui tiny star rating disabled" data-rating="0">
                                            <i class="icon"></i>
                                            <i class="icon"></i>
                                            <i class="icon"></i>
                                            <i class="icon"></i>
                                            <i class="icon"></i>
                                        </div>
                                    </div>
                                    <div class="info">
        
                                        <div class="sku-options mobile-hide ">
        
                                            <h5 id="produto-esgotado_28178" class="text center hideme">Produto Esgotado</h5>
        
                                            <div id="referencefromproduct_28178" class="ui fluid selection dropdown dropdownreference" data-total-referencia="2" data-idproduct="28178"
                                                tabindex="0">
                                                <input type="hidden" name="reference_28178" data-id-reference="7" id="Cor">
                                                <i class="dropdown icon"></i>
                                                <span class="text">Cor</span>
                                                <div class="menu" tabindex="-1">
                                                    <div class="header">
                                                        Cor
                                                    </div>
                                                    <div class="scrolling menu">
                                                        <div class="item" data-value="45">
                                                            <div class="ui empty circular label" style="background-color: rgb(255, 0, 0) !important; border-color: #1B1C1D !important;"></div>
                                                            Vermelho
                                                        </div>
                                                        <div class="item" data-value="49">
                                                            <div class="ui empty circular label" style="background-color: rgb(0, 0, 0) !important; border-color: #1B1C1D !important;"></div>
                                                            Preto
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ui small divider hidden"></div>
                                            <div id="referencefromproduct_28178" class="ui fluid selection dropdown dropdownreference" data-total-referencia="2" data-idproduct="28178"
                                                tabindex="0">
                                                <input type="hidden" name="reference_28178" data-id-reference="8" id="Tamanho">
                                                <i class="dropdown icon"></i>
                                                <span class="text">Tamanho</span>
                                                <div class="menu" tabindex="-1">
                                                    <div class="header">
                                                        Tamanho
                                                    </div>
                                                    <div class="scrolling menu">
                                                        <div class="item" data-value="52">
                                                            P
                                                        </div>
                                                        <div class="item" data-value="53">
                                                            M
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ui small divider hidden"></div>
                                            <a id="btn-comprar-card-1" class="ui labeled icon button teal fluid btn-comprar-card" data-idproduct="1" data-name="Produto 1">
                                                <i id="btn-icon-card-1" class="icon add to cart"></i>
                                                Comprar
                                            </a>
                                        </div>
                                        <div class="dados">
                                            <div itemscope="" itemtype="http://schema.org/Product">
                                                <link itemprop="url" href="/detalhe" rel="author">
                                                <a itemprop="url" href="/detalhe">
                                                    <span itemprop="name">
                                                        <h1>Teste Produto 1</h1>
                                                    </span>
                                                </a>
                                                <span itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                                                    <span id="basePrice_28178" class="precoBase">de
                                                        <i>R$ 999,99</i> por </span>
                                                    <span itemprop="preco" class="preco">R$ 1,99</span>
                                                    <span>
                                                        ou em
                                                        <span class="installmentMaxNumber">8</span>
                                                        x de
                                                        <span class="installmentMaxValue">R$ 0,248</span>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="botoes">
                                            <a class="ui basic button right floated primary right floated mobile-fluid" href="/detalhe">
                                                <i class="icon search"></i>DETALHES
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="1" class="ui card produto" data-exhausted="False">
                                    <input type="hidden" id="1">
                                    <div class="content">
                                        <a class="ui slide masked reveal image fluid" itemprop="url" href="/detalhe">
                                            <img  src="//static-loja.plataformaneo.com.br/produto/20171213094640_7902992098_H.jpg" class="visible content"
            >
                                            <img src="//static-loja.plataformaneo.com.br/produto/20171213094641_2340997660_A.jpg" class="hidden content">
            
                                            <div class="ui bottom right attached label massive imagetag">
                                                <img src="//static-loja.plataformaneo.com.br/status/20171128093328_449608.png" alt="Outlet" class="ui image tiny">
                                            </div>
                                        </a>
                                        <div class="ui horizontal divider avaliacao">
                                            <div class="ui tiny star rating disabled" data-rating="0">
                                                <i class="icon"></i>
                                                <i class="icon"></i>
                                                <i class="icon"></i>
                                                <i class="icon"></i>
                                                <i class="icon"></i>
                                            </div>
                                        </div>
                                        <div class="info">
            
                                            <div class="sku-options mobile-hide ">
            
                                                <h5 id="produto-esgotado_28178" class="text center hideme">Produto Esgotado</h5>
            
                                                <div id="referencefromproduct_28178" class="ui fluid selection dropdown dropdownreference" data-total-referencia="2" data-idproduct="28178"
                                                    tabindex="0">
                                                    <input type="hidden" name="reference_28178" data-id-reference="7" id="Cor">
                                                    <i class="dropdown icon"></i>
                                                    <span class="text">Cor</span>
                                                    <div class="menu" tabindex="-1">
                                                        <div class="header">
                                                            Cor
                                                        </div>
                                                        <div class="scrolling menu">
                                                            <div class="item" data-value="45">
                                                                <div class="ui empty circular label" style="background-color: rgb(255, 0, 0) !important; border-color: #1B1C1D !important;"></div>
                                                                Vermelho
                                                            </div>
                                                            <div class="item" data-value="49">
                                                                <div class="ui empty circular label" style="background-color: rgb(0, 0, 0) !important; border-color: #1B1C1D !important;"></div>
                                                                Preto
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="ui small divider hidden"></div>
                                                <div id="referencefromproduct_28178" class="ui fluid selection dropdown dropdownreference" data-total-referencia="2" data-idproduct="28178"
                                                    tabindex="0">
                                                    <input type="hidden" name="reference_28178" data-id-reference="8" id="Tamanho">
                                                    <i class="dropdown icon"></i>
                                                    <span class="text">Tamanho</span>
                                                    <div class="menu" tabindex="-1">
                                                        <div class="header">
                                                            Tamanho
                                                        </div>
                                                        <div class="scrolling menu">
                                                            <div class="item" data-value="52">
                                                                P
                                                            </div>
                                                            <div class="item" data-value="53">
                                                                M
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="ui small divider hidden"></div>
                                                <a id="btn-comprar-card-1" class="ui labeled icon button teal fluid btn-comprar-card" data-idproduct="1" data-name="Produto 1">
                                                    <i id="btn-icon-card-1" class="icon add to cart"></i>
                                                    Comprar
                                                </a>
                                            </div>
                                            <div class="dados">
                                                <div itemscope="" itemtype="http://schema.org/Product">
                                                    <link itemprop="url" href="/detalhe" rel="author">
                                                    <a itemprop="url" href="/detalhe">
                                                        <span itemprop="name">
                                                            <h1>Teste Produto 1</h1>
                                                        </span>
                                                    </a>
                                                    <span itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                                                        <span id="basePrice_28178" class="precoBase">de
                                                            <i>R$ 999,99</i> por </span>
                                                        <span itemprop="preco" class="preco">R$ 1,99</span>
                                                        <span>
                                                            ou em
                                                            <span class="installmentMaxNumber">8</span>
                                                            x de
                                                            <span class="installmentMaxValue">R$ 0,248</span>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="botoes">
                                                <a class="ui basic button right floated primary right floated mobile-fluid" href="/detalhe">
                                                    <i class="icon search"></i>DETALHES
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="1" class="ui card produto" data-exhausted="False">
                                        <input type="hidden" id="1">
                                        <div class="content">
                                            <a class="ui slide masked reveal image fluid" itemprop="url" href="/detalhe">
                                                <img  src="//static-loja.plataformaneo.com.br/produto/20171213094640_7902992098_H.jpg" class="visible content"
                >
                                                <img src="//static-loja.plataformaneo.com.br/produto/20171213094641_2340997660_A.jpg" class="hidden content">
                
                                                <div class="ui bottom right attached label massive imagetag">
                                                    <img src="//static-loja.plataformaneo.com.br/status/20171128093328_449608.png" alt="Outlet" class="ui image tiny">
                                                </div>
                                            </a>
                                            <div class="ui horizontal divider avaliacao">
                                                <div class="ui tiny star rating disabled" data-rating="0">
                                                    <i class="icon"></i>
                                                    <i class="icon"></i>
                                                    <i class="icon"></i>
                                                    <i class="icon"></i>
                                                    <i class="icon"></i>
                                                </div>
                                            </div>
                                            <div class="info">
                
                                                <div class="sku-options mobile-hide ">
                
                                                    <h5 id="produto-esgotado_28178" class="text center hideme">Produto Esgotado</h5>
                
                                                    <div id="referencefromproduct_28178" class="ui fluid selection dropdown dropdownreference" data-total-referencia="2" data-idproduct="28178"
                                                        tabindex="0">
                                                        <input type="hidden" name="reference_28178" data-id-reference="7" id="Cor">
                                                        <i class="dropdown icon"></i>
                                                        <span class="text">Cor</span>
                                                        <div class="menu" tabindex="-1">
                                                            <div class="header">
                                                                Cor
                                                            </div>
                                                            <div class="scrolling menu">
                                                                <div class="item" data-value="45">
                                                                    <div class="ui empty circular label" style="background-color: rgb(255, 0, 0) !important; border-color: #1B1C1D !important;"></div>
                                                                    Vermelho
                                                                </div>
                                                                <div class="item" data-value="49">
                                                                    <div class="ui empty circular label" style="background-color: rgb(0, 0, 0) !important; border-color: #1B1C1D !important;"></div>
                                                                    Preto
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="ui small divider hidden"></div>
                                                    <div id="referencefromproduct_28178" class="ui fluid selection dropdown dropdownreference" data-total-referencia="2" data-idproduct="28178"
                                                        tabindex="0">
                                                        <input type="hidden" name="reference_28178" data-id-reference="8" id="Tamanho">
                                                        <i class="dropdown icon"></i>
                                                        <span class="text">Tamanho</span>
                                                        <div class="menu" tabindex="-1">
                                                            <div class="header">
                                                                Tamanho
                                                            </div>
                                                            <div class="scrolling menu">
                                                                <div class="item" data-value="52">
                                                                    P
                                                                </div>
                                                                <div class="item" data-value="53">
                                                                    M
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="ui small divider hidden"></div>
                                                    <a id="btn-comprar-card-1" class="ui labeled icon button teal fluid btn-comprar-card" data-idproduct="1" data-name="Produto 1">
                                                        <i id="btn-icon-card-1" class="icon add to cart"></i>
                                                        Comprar
                                                    </a>
                                                </div>
                                                <div class="dados">
                                                    <div itemscope="" itemtype="http://schema.org/Product">
                                                        <link itemprop="url" href="/detalhe" rel="author">
                                                        <a itemprop="url" href="/detalhe">
                                                            <span itemprop="name">
                                                                <h1>Teste Produto 1</h1>
                                                            </span>
                                                        </a>
                                                        <span itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                                                            <span id="basePrice_28178" class="precoBase">de
                                                                <i>R$ 999,99</i> por </span>
                                                            <span itemprop="preco" class="preco">R$ 1,99</span>
                                                            <span>
                                                                ou em
                                                                <span class="installmentMaxNumber">8</span>
                                                                x de
                                                                <span class="installmentMaxValue">R$ 0,248</span>
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="botoes">
                                                    <a class="ui basic button right floated primary right floated mobile-fluid" href="/detalhe">
                                                        <i class="icon search"></i>DETALHES
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="1" class="ui card produto" data-exhausted="False">
                                            <input type="hidden" id="1">
                                            <div class="content">
                                                <a class="ui slide masked reveal image fluid" itemprop="url" href="/detalhe">
                                                    <img  src="//static-loja.plataformaneo.com.br/produto/20171213094640_7902992098_H.jpg" class="visible content"
                    >
                                                    <img src="//static-loja.plataformaneo.com.br/produto/20171213094641_2340997660_A.jpg" class="hidden content">
                    
                                                    <div class="ui bottom right attached label massive imagetag">
                                                        <img src="//static-loja.plataformaneo.com.br/status/20171128093328_449608.png" alt="Outlet" class="ui image tiny">
                                                    </div>
                                                </a>
                                                <div class="ui horizontal divider avaliacao">
                                                    <div class="ui tiny star rating disabled" data-rating="0">
                                                        <i class="icon"></i>
                                                        <i class="icon"></i>
                                                        <i class="icon"></i>
                                                        <i class="icon"></i>
                                                        <i class="icon"></i>
                                                    </div>
                                                </div>
                                                <div class="info">
                    
                                                    <div class="sku-options mobile-hide ">
                    
                                                        <h5 id="produto-esgotado_28178" class="text center hideme">Produto Esgotado</h5>
                    
                                                        <div id="referencefromproduct_28178" class="ui fluid selection dropdown dropdownreference" data-total-referencia="2" data-idproduct="28178"
                                                            tabindex="0">
                                                            <input type="hidden" name="reference_28178" data-id-reference="7" id="Cor">
                                                            <i class="dropdown icon"></i>
                                                            <span class="text">Cor</span>
                                                            <div class="menu" tabindex="-1">
                                                                <div class="header">
                                                                    Cor
                                                                </div>
                                                                <div class="scrolling menu">
                                                                    <div class="item" data-value="45">
                                                                        <div class="ui empty circular label" style="background-color: rgb(255, 0, 0) !important; border-color: #1B1C1D !important;"></div>
                                                                        Vermelho
                                                                    </div>
                                                                    <div class="item" data-value="49">
                                                                        <div class="ui empty circular label" style="background-color: rgb(0, 0, 0) !important; border-color: #1B1C1D !important;"></div>
                                                                        Preto
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="ui small divider hidden"></div>
                                                        <div id="referencefromproduct_28178" class="ui fluid selection dropdown dropdownreference" data-total-referencia="2" data-idproduct="28178"
                                                            tabindex="0">
                                                            <input type="hidden" name="reference_28178" data-id-reference="8" id="Tamanho">
                                                            <i class="dropdown icon"></i>
                                                            <span class="text">Tamanho</span>
                                                            <div class="menu" tabindex="-1">
                                                                <div class="header">
                                                                    Tamanho
                                                                </div>
                                                                <div class="scrolling menu">
                                                                    <div class="item" data-value="52">
                                                                        P
                                                                    </div>
                                                                    <div class="item" data-value="53">
                                                                        M
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="ui small divider hidden"></div>
                                                        <a id="btn-comprar-card-1" class="ui labeled icon button teal fluid btn-comprar-card" data-idproduct="1" data-name="Produto 1">
                                                            <i id="btn-icon-card-1" class="icon add to cart"></i>
                                                            Comprar
                                                        </a>
                                                    </div>
                                                    <div class="dados">
                                                        <div itemscope="" itemtype="http://schema.org/Product">
                                                            <link itemprop="url" href="/detalhe" rel="author">
                                                            <a itemprop="url" href="/detalhe">
                                                                <span itemprop="name">
                                                                    <h1>Teste Produto 1</h1>
                                                                </span>
                                                            </a>
                                                            <span itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                                                                <span id="basePrice_28178" class="precoBase">de
                                                                    <i>R$ 999,99</i> por </span>
                                                                <span itemprop="preco" class="preco">R$ 1,99</span>
                                                                <span>
                                                                    ou em
                                                                    <span class="installmentMaxNumber">8</span>
                                                                    x de
                                                                    <span class="installmentMaxValue">R$ 0,248</span>
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="botoes">
                                                        <a class="ui basic button right floated primary right floated mobile-fluid" href="/detalhe">
                                                            <i class="icon search"></i>DETALHES
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="1" class="ui card produto" data-exhausted="False">
                                                <input type="hidden" id="1">
                                                <div class="content">
                                                    <a class="ui slide masked reveal image fluid" itemprop="url" href="/detalhe">
                                                        <img  src="//static-loja.plataformaneo.com.br/produto/20171213094640_7902992098_H.jpg" class="visible content"
                        >
                                                        <img src="//static-loja.plataformaneo.com.br/produto/20171213094641_2340997660_A.jpg" class="hidden content">
                        
                                                        <div class="ui bottom right attached label massive imagetag">
                                                            <img src="//static-loja.plataformaneo.com.br/status/20171128093328_449608.png" alt="Outlet" class="ui image tiny">
                                                        </div>
                                                    </a>
                                                    <div class="ui horizontal divider avaliacao">
                                                        <div class="ui tiny star rating disabled" data-rating="0">
                                                            <i class="icon"></i>
                                                            <i class="icon"></i>
                                                            <i class="icon"></i>
                                                            <i class="icon"></i>
                                                            <i class="icon"></i>
                                                        </div>
                                                    </div>
                                                    <div class="info">
                        
                                                        <div class="sku-options mobile-hide ">
                        
                                                            <h5 id="produto-esgotado_28178" class="text center hideme">Produto Esgotado</h5>
                        
                                                            <div id="referencefromproduct_28178" class="ui fluid selection dropdown dropdownreference" data-total-referencia="2" data-idproduct="28178"
                                                                tabindex="0">
                                                                <input type="hidden" name="reference_28178" data-id-reference="7" id="Cor">
                                                                <i class="dropdown icon"></i>
                                                                <span class="text">Cor</span>
                                                                <div class="menu" tabindex="-1">
                                                                    <div class="header">
                                                                        Cor
                                                                    </div>
                                                                    <div class="scrolling menu">
                                                                        <div class="item" data-value="45">
                                                                            <div class="ui empty circular label" style="background-color: rgb(255, 0, 0) !important; border-color: #1B1C1D !important;"></div>
                                                                            Vermelho
                                                                        </div>
                                                                        <div class="item" data-value="49">
                                                                            <div class="ui empty circular label" style="background-color: rgb(0, 0, 0) !important; border-color: #1B1C1D !important;"></div>
                                                                            Preto
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="ui small divider hidden"></div>
                                                            <div id="referencefromproduct_28178" class="ui fluid selection dropdown dropdownreference" data-total-referencia="2" data-idproduct="28178"
                                                                tabindex="0">
                                                                <input type="hidden" name="reference_28178" data-id-reference="8" id="Tamanho">
                                                                <i class="dropdown icon"></i>
                                                                <span class="text">Tamanho</span>
                                                                <div class="menu" tabindex="-1">
                                                                    <div class="header">
                                                                        Tamanho
                                                                    </div>
                                                                    <div class="scrolling menu">
                                                                        <div class="item" data-value="52">
                                                                            P
                                                                        </div>
                                                                        <div class="item" data-value="53">
                                                                            M
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="ui small divider hidden"></div>
                                                            <a id="btn-comprar-card-1" class="ui labeled icon button teal fluid btn-comprar-card" data-idproduct="1" data-name="Produto 1">
                                                                <i id="btn-icon-card-1" class="icon add to cart"></i>
                                                                Comprar
                                                            </a>
                                                        </div>
                                                        <div class="dados">
                                                            <div itemscope="" itemtype="http://schema.org/Product">
                                                                <link itemprop="url" href="/detalhe" rel="author">
                                                                <a itemprop="url" href="/detalhe">
                                                                    <span itemprop="name">
                                                                        <h1>Teste Produto 1</h1>
                                                                    </span>
                                                                </a>
                                                                <span itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                                                                    <span id="basePrice_28178" class="precoBase">de
                                                                        <i>R$ 999,99</i> por </span>
                                                                    <span itemprop="preco" class="preco">R$ 1,99</span>
                                                                    <span>
                                                                        ou em
                                                                        <span class="installmentMaxNumber">8</span>
                                                                        x de
                                                                        <span class="installmentMaxValue">R$ 0,248</span>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="botoes">
                                                            <a class="ui basic button right floated primary right floated mobile-fluid" href="/detalhe">
                                                                <i class="icon search"></i>DETALHES
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                </div>

            </div>
        </div>
    </div>
</div>