<div class="ui container fluid topbar" id="top_bar">
    <div class="ui container fluid">
      <div class="ui grid middle aligned inverted">
        <div class="three wide row">
          <div class="right floated right aligned wide column">
            <div class="ui horizontal list relaxed divided">
              <div class="item">
                <socialbar>
                  <a href="https://facebook.com/" target="_blank" title="Facebook - Lembrança Chique" alt="Link para acessar o Facebook da loja Lembrança Chique">
                    <i class="facebook icon"></i>
                  </a>
                  <a href="https://instagram.com/" target="_blank" title="Instagram - Lembrança Chique" alt="Link para acessar o Instagram da loja Lembrança Chique">
                    <i class="instagram icon"></i>
                  </a>
                  <a href="https://youtube.com/" target="_blank" title="Youtube - Lembrança Chique" alt="Link para acessar o canal do Youtube da loja Lembrança Chique">
                    <i class="youtube play icon"></i>
                  </a>
                </socialbar>
              </div>
              <div class="item">
                <a href="/fale-conosco">
                  <i class="call square icon pink"></i>
                  <span class="text">FALE CONOSCO</span>
                </a>
              </div>
              <div class="item">
                <a href="/customer">
                  <i class="user icon regular pink"></i>
                  <span class="text">MINHA CONTA</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="top_detail"></div>
      </div>
    </div>
  </div>



  <div class="ui container fluid _header">
    <div class="ui container fluid">
        <div class="ui middle aligned three column centered grid">
            <div class="row">
                <div class="ui ten wide mobile six wide tablet four wide computer column">
                    <a href="/">
                        <img class="ui middle aligned image" src="/public/images/logo.png" alt="">
                    </a>
                </div>
                <div class="ui center aligned five wide tablet eight wide computer column searchcolumn">
                    <div class="ui category search">
                        <div class="ui icon input fluid">
                            <input class="prompt" type="text" placeholder="Buscar..." autocomplete="off">
                            <i class="search icon"></i>
                        </div>
                        <div class="results"></div>
                    </div>
                </div>
                <div class="ui right aligned six wide mobile five wide tablet four wide computer column">
                    <div id="cartButton" class="ui labeled button cartbutton mini-cart no margin bottom" tabindex="0" data-segment="b2c">
                        <div class="ui basic primary button ">
                            <i class="cart icon"></i>
                            <span>Meu Carrinho</span>
                        </div>
                        <a class="ui left pointing primary label" id="total_itens_card">0</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>