<div class="ui container fluid menuheader">
    <div class="overlapblackbg"></div>
    <div class="ui container fluid">
        <div class="wsmobileheader clearfix">
            <a id="wsnavtoggle" class="animated-arrow">
                <span></span>
            </a>
        </div>
        <div class="wsmain">
            <nav class="wsmenu">
                <ul class="mobile-sub wsmenu-list ui menu">
                    <li class="wssearchbar clearfix">
                        <form class="topmenusearch" method="get" action="/busca">
                            <input placeholder="Buscar..." name="n">
                            <button class="btnstyle">
                                <i class="icon search" aria-hidden="true"></i>
                            </button>
                        </form>
                    </li>
                    <li>
                        <span class="wsmenu-click">
                            <i class="wsmenu-arrow icon angle down"></i>
                        </span>
                        <a href="" class="item">
                            <span class="text">CATEGORIA 1</span>
                            <i class="dropdown icon"></i>
                        </a>
                        <div class="megamenu clearfix">
                            <div class="ui grid">
                                <div class="row">
                                    <div class="fifteen wide mobile twelve wide tablet twelve wide computer column">
                                        <div class="ui grid three column">
                                            <div class="sixteen wide mobile eight wide tablet four wide computer column">
                                                <div class="ui list relaxed">
                                                    <h4 class="header">
                                                        <a href="/categoria">Sub-Opção 1</a>
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="sixteen wide mobile eight wide tablet four wide computer column">
                                                <div class="ui list relaxed">
                                                    <h4 class="header">
                                                        <a href="/categoria">Subcategoria 2</a>
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="sixteen wide mobile eight wide tablet four wide computer column">
                                                <div class="ui list relaxed">
                                                    <h4 class="header">
                                                        <a href="/categoria">Subcategoria 3</a>
                                                    </h4>
                                                    <div class="ui divider"></div>
                                                    <a class="item" href="/categoria">Opção 1 da subcategoria</a>
                                                    <a class="item" href="/categoria">Opção 2 da subcategoria</a>
                                                    <a class="item" href="/categoria">Opção 3 da subcategoria</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>


                    <li>
                        <span class="wsmenu-click">
                            <i class="wsmenu-arrow icon angle down"></i>
                        </span>
                        <a href="/categoria" class="item">
                            <span class="text">CATEGORIA 2</span>
                            <i class="dropdown icon"></i>
                        </a>
                        <div class="megamenu clearfix">
                            <div class="ui grid">
                                <div class="row">
                                    <div class="fifteen wide mobile twelve wide tablet twelve wide computer column">
                                        <div class="ui grid three column">
                                            <div class="sixteen wide mobile eight wide tablet four wide computer column">
                                                <div class="ui list relaxed">
                                                    <h4 class="header">
                                                        <a href="/categoria">Sub-Opção 1</a>
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="sixteen wide mobile eight wide tablet four wide computer column">
                                                <div class="ui list relaxed">
                                                    <h4 class="header">
                                                        <a href="/categoria">Subcategoria 2</a>
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="sixteen wide mobile eight wide tablet four wide computer column">
                                                <div class="ui list relaxed">
                                                    <h4 class="header">
                                                        <a href="/categoria">Subcategoria 3</a>
                                                    </h4>
                                                    <div class="ui divider"></div>
                                                    <a class="item" href="/categoria">Opção 1 da subcategoria</a>
                                                    <a class="item" href="/categoria">Opção 2 da subcategoria</a>
                                                    <a class="item" href="/categoria">Opção 3 da subcategoria</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <span class="wsmenu-click">
                            <i class="wsmenu-arrow icon angle down"></i>
                        </span>
                        <a href="/categoria" class="item">
                            <span class="text">CATEGORIA 3</span>
                            <i class="dropdown icon"></i>
                        </a>
                        <div class="megamenu clearfix">
                            <div class="ui grid">
                                <div class="row">
                                    <div class="fifteen wide mobile twelve wide tablet twelve wide computer column">
                                        <div class="ui grid three column">
                                            <div class="sixteen wide mobile eight wide tablet four wide computer column">
                                                <div class="ui list relaxed">
                                                    <h4 class="header">
                                                        <a href="/categoria">Sub-Opção 1</a>
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="sixteen wide mobile eight wide tablet four wide computer column">
                                                <div class="ui list relaxed">
                                                    <h4 class="header">
                                                        <a href="/categoria">Subcategoria 2</a>
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="sixteen wide mobile eight wide tablet four wide computer column">
                                                <div class="ui list relaxed">
                                                    <h4 class="header">
                                                        <a href="/categoria">Subcategoria 3</a>
                                                    </h4>
                                                    <div class="ui divider"></div>
                                                    <a class="item" href="/categoria">Opção 1 da subcategoria</a>
                                                    <a class="item" href="/categoria">Opção 2 da subcategoria</a>
                                                    <a class="item" href="/categoria">Opção 3 da subcategoria</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>


                    <li>
                        <span class="wsmenu-click">
                            <i class="wsmenu-arrow icon angle down"></i>
                        </span>
                        <a href="/categoria" class="item">
                            <span class="text">CATEGORIA 4</span>
                            <i class="dropdown icon"></i>
                        </a>
                        <div class="megamenu clearfix">
                            <div class="ui grid">
                                <div class="row">
                                    <div class="fifteen wide mobile twelve wide tablet twelve wide computer column">
                                        <div class="ui grid three column">
                                            <div class="sixteen wide mobile eight wide tablet four wide computer column">
                                                <div class="ui list relaxed">
                                                    <h4 class="header">
                                                        <a href="/categoria">Sub-Opção 1</a>
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="sixteen wide mobile eight wide tablet four wide computer column">
                                                <div class="ui list relaxed">
                                                    <h4 class="header">
                                                        <a href="/categoria">Subcategoria 2</a>
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="sixteen wide mobile eight wide tablet four wide computer column">
                                                <div class="ui list relaxed">
                                                    <h4 class="header">
                                                        <a href="/categoria">Subcategoria 3</a>
                                                    </h4>
                                                    <div class="ui divider"></div>
                                                    <a class="item" href="/categoria">Opção 1 da subcategoria</a>
                                                    <a class="item" href="/categoria">Opção 2 da subcategoria</a>
                                                    <a class="item" href="/categoria">Opção 3 da subcategoria</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>


                    <li>
                        <span class="wsmenu-click">
                            <i class="wsmenu-arrow icon angle down"></i>
                        </span>
                        <a href="/categoria" class="item">
                            <span class="text">CATEGORIA 5</span>
                            <i class="dropdown icon"></i>
                        </a>
                        <div class="megamenu clearfix">
                            <div class="ui grid">
                                <div class="row">
                                    <div class="fifteen wide mobile twelve wide tablet twelve wide computer column">
                                        <div class="ui grid three column">
                                            <div class="sixteen wide mobile eight wide tablet four wide computer column">
                                                <div class="ui list relaxed">
                                                    <h4 class="header">
                                                        <a href="/categoria">Sub-Opção 1</a>
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="sixteen wide mobile eight wide tablet four wide computer column">
                                                <div class="ui list relaxed">
                                                    <h4 class="header">
                                                        <a href="/categoria">Subcategoria 2</a>
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="sixteen wide mobile eight wide tablet four wide computer column">
                                                <div class="ui list relaxed">
                                                    <h4 class="header">
                                                        <a href="/categoria">Subcategoria 3</a>
                                                    </h4>
                                                    <div class="ui divider"></div>
                                                    <a class="item" href="/categoria">Opção 1 da subcategoria</a>
                                                    <a class="item" href="/categoria">Opção 2 da subcategoria</a>
                                                    <a class="item" href="/categoria">Opção 3 da subcategoria</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <span class="wsmenu-click">
                            <i class="wsmenu-arrow icon angle down"></i>
                        </span>
                        <a href="/categoria" class="item">
                            <span class="text">CATEGORIA 6</span>
                            <i class="dropdown icon"></i>
                        </a>
                        <div class="megamenu clearfix">
                            <div class="ui grid">
                                <div class="row">
                                    <div class="fifteen wide mobile twelve wide tablet twelve wide computer column">
                                        <div class="ui grid three column">
                                            <div class="sixteen wide mobile eight wide tablet four wide computer column">
                                                <div class="ui list relaxed">
                                                    <h4 class="header">
                                                        <a href="/categoria">Sub-Opção 1</a>
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="sixteen wide mobile eight wide tablet four wide computer column">
                                                <div class="ui list relaxed">
                                                    <h4 class="header">
                                                        <a href="/categoria">Subcategoria 2</a>
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="sixteen wide mobile eight wide tablet four wide computer column">
                                                <div class="ui list relaxed">
                                                    <h4 class="header">
                                                        <a href="/categoria">Subcategoria 3</a>
                                                    </h4>
                                                    <div class="ui divider"></div>
                                                    <a class="item" href="/categoria">Opção 1 da subcategoria</a>
                                                    <a class="item" href="/categoria">Opção 2 da subcategoria</a>
                                                    <a class="item" href="/categoria">Opção 3 da subcategoria</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>


                    <li>
                        <span class="wsmenu-click">
                            <i class="wsmenu-arrow icon angle down"></i>
                        </span>
                        <a href="/categoria" class="item">
                            <span class="text">CATEGORIA 7</span>
                            <i class="dropdown icon"></i>
                        </a>
                        <div class="megamenu clearfix">
                            <div class="ui grid">
                                <div class="row">
                                    <div class="fifteen wide mobile twelve wide tablet twelve wide computer column">
                                        <div class="ui grid three column">
                                            <div class="sixteen wide mobile eight wide tablet four wide computer column">
                                                <div class="ui list relaxed">
                                                    <h4 class="header">
                                                        <a href="/categoria">Sub-Opção 1</a>
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="sixteen wide mobile eight wide tablet four wide computer column">
                                                <div class="ui list relaxed">
                                                    <h4 class="header">
                                                        <a href="/categoria">Subcategoria 2</a>
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="sixteen wide mobile eight wide tablet four wide computer column">
                                                <div class="ui list relaxed">
                                                    <h4 class="header">
                                                        <a href="/categoria">Subcategoria 3</a>
                                                    </h4>
                                                    <div class="ui divider"></div>
                                                    <a class="item" href="/categoria">Opção 1 da subcategoria</a>
                                                    <a class="item" href="/categoria">Opção 2 da subcategoria</a>
                                                    <a class="item" href="/categoria">Opção 3 da subcategoria</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
</div>