<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>

    <link rel='stylesheet' href='/bower_components/semantic/dist/semantic.css' />
    <link rel='stylesheet' href='/bower_components/slick-carousel/slick/slick.css' />
    <link rel='stylesheet' href='/public/stylesheets/style.css' />

</head>

<body>
    <% include partials/header.ejs %>
    <% include partials/menu.ejs %>
    <% include partials/categoria_detalhes.ejs %>
    <% include partials/bottom.ejs %>

            <!-- JS -->
            <script src="/bower_components/jquery/dist/jquery.min.js"></script>
            <script src="/bower_components/semantic/dist/semantic.min.js"></script>
            <script src="/bower_components/slick-carousel/slick/slick.min.js"></script>



</body>

</html>